body {
    font-family: Arial, sans-serif;
    background-color: #eecbcb;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    position: relative; 
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
}

#person {
    font-weight: bold;
}

.corner {
    position: absolute;
    width: 250px; 
    height: 250px; 
}

.top-left {
    top: 0;
    left: 0;
}

.top-right {
    top: 0;
    right: 0;
}

.bottom-left {
    bottom: 0;
    left: 0;
}

.bottom-right {
    bottom: 0;
    right: 0;
}

@media (max-width: 600px) {
    .corner {
        width: 50px;
        height: 50px; 
    }
}